/*======================================
          Navbar Responsive CSS Start
=======================================*/

/* Extra Large Devices (Desktops, 1200px and up) */
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .navbar-content .navbar-menu {
    flex-basis: 600px;
  }
  .navbar-button {
    flex-basis: 250px;
  }
}

/* Large Devices (Tablets, 992px and up) */
@media (max-width: 992px) {
  nav {
    padding: 20px 0;
  }
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
  }
  .navbar-menu ul {
    flex-direction: column;
  }
  .navbar-menu li {
    margin-bottom: 10px;
  }
  .navbar-menu li a {
    padding: 10px 0;
    display: block;
  }
  .navbar-menu .sub-menu {
    position: static;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    display: none;
    transition: none;
  }
  .navbar-menu li:hover > .sub-menu {
    display: block;
  }
  .navbar-button {
    text-align: left;
    margin-top: 20px;
  }
  .navbar-menu.show-menu {
    display: flex;
  }
}

/* Medium Devices (Mobile Landscape, 768px and up) */
@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-button {
    text-align: left;
    margin-top: 10px;
  }
  .navbar-menu li a {
    font-size: 16px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Small Devices (Mobile Portrait, 576px and up) */
@media (max-width: 576px) {
  nav {
    padding: 15px 0;
  }
  .navbar-brand img {
    width: 120px;
  }
  .navbar-button {
    margin-top: 10px;
    text-align: center;
  }
  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .navbar-menu li a {
    font-size: 14px;
  }
}

/* Extra Small Devices (Less than 576px) */
@media (max-width: 480px) {
  .navbar-brand img {
    width: 100px;
  }
  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }
  .navbar-menu li a {
    font-size: 12px;
  }
}

/*======================================
          Navbar Responsive CSS End
=======================================*/
