:root {
  --primary-color: #f8fdff;
  --text-color: #29313d;
  --header-color: #1d354f;
  --button-color: #8454f5;
  --solial-media: rgba(106, 85, 234, 0.1);
  --rectengle-color-left: #e5f5d0;
  --rectengle-color-right: #dee9ec;
  --card-color: #fdfdfd;
  --open-sans-font: "Open Sans", sans-serif;
  --nunito-font: "Nunito", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
body {
  overflow-x: hidden; /*শুধুমাত্র ডান-বাম (horizontal) স্ক্রলবার সরাতে */
}

/*======================================
          Common CSS ‍Start
=======================================*/

.container {
  width: 1410px;
  /* max-width: 1410px; */
  /* width: 72%; */
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.vertical-center {
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

ul li {
  white-space: nowrap;
}
a {
  text-decoration: none;
  /* color: var(--text-color); */
  font-weight: 600;
  font-family: "Open Sans", serif;
  transition: 0.4s;
  white-space: nowrap;
}
a,
.btn,
p {
  font-size: 18px;
}
.btn {
  display: inline-block;
  background: var(--button-color);
  color: #fff;
  font-family: var(--nunito-font);
  padding: 14px 28px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 18px;
  border: 1px solid transparent;
  transition: background 0.4s, border 0.4s;
  white-space: nowrap;
}
.btn:hover {
  background: transparent;
  color: var(--button-color);
  border-color: var(--button-color);
}

p {
  font-weight: 400;
  font-family: var(--nunito-font);
  line-height: 200%;
}

.common-title h2 {
  font-size: 48px;
  font-family: var(--poppins-font);
  font-weight: 600;
}

.common-card {
  font-family: var(--nunito-font);
  background-color: var(--card-color);
}
.common-card img {
  width: 100px;
}
.common-card h3,
h3 {
  white-space: nowrap;
  font-family: var(--poppins-font);
  font-size: 28px;
  font-weight: 600px;
}
/*======================================
          Common CSS End
=======================================*/

/*======================================
          nav-bar CSS ‍Start
=======================================*/
.navbar {
  position: relative;
}
nav {
  background-color: var(--primary-color);
  padding: 30px 0;
}

nav .navbar-content {
  width: 100%;
  position: relative;
  z-index: 10;
}

.navbar-content .navbar-brand {
  width: 314px;
}

.navbar-content .navbar-menu {
  width: 722px;
}

.navbar-content .navbar-menu li:hover a {
  color: var(--button-color);
}
.navbar-button {
  width: 372px;
  text-align: right;
  z-index: 1000;
}

.navbar-menu li {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 300%;
  left: 0;
  background-color: var(--primary-color);
  padding: 10px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
}
.sub-menu li {
  padding: 8px 20px;
  position: relative;
}

.navbar-menu li:hover > .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.navbar-menu li:hover > .sub-menu a {
  color: var(--text-color);
}
.sub-menu .sub-menu {
  position: absolute;
  top: 0;
  left: 300%; /* Place it on the right */
  opacity: 0;
  visibility: hidden;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sub-menu li:hover > .sub-menu {
  top: -5%;
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/*======================================
          nav-bar CSS End
=======================================*/
/*======================================
             HERO-SECTION--Start
=======================================*/
.feature-section {
  position: relative;
}
.feature-section .container {
  width: 1840px;
  transform: translateX(80px);
  padding-top: 101px;
  padding-bottom: 120px;
  position: relative;
  z-index: 9;
}

.feature-section {
  background-color: var(--primary-color);
}
.feature-section .feature-content .container .feature-left {
  width: 220px;
  height: 380px;
  background-color: #e5f5d0;
  margin-top: 95px;
  margin-right: 293px;
  margin-bottom: 120px;
  position: relative;
  overflow: visible;
  clip-path: inset(-95px -293px 0px 0px);
}

.feature-section
  .feature-content
  .container
  .feature-left
  .feature-left-content {
  content: "";
  width: 513px;
  height: 475px;
  position: absolute;
  bottom: 0;
  background-image: url(../images/hero-item/bannerLeft.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: up 2s infinite alternate;
}

/* .feature-section .feature-content .container .feature-left::after {
  content: "";
  width: 513px;
  height: 475px;
  background-image: url(../images/hero-item/hand-left.png);
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  animation: up 4s infinite;
} */
.feature-left img {
  width: 100%;
}
.feature-text {
  width: 672px;
}

.feature-text h1 {
  font-size: 64px;
  /* font-size: clamp(24px, 5vw, 64px); */
  font-weight: 900;
  color: var(--header-color);
  font-family: var(--open-sans-font);
}
.feature-text p {
  margin-bottom: 60px;
}
.feature-content .feature-content {
  width: 78%;
  padding-left: 49px;
  transform: translateY(69px);
}
.feature-content .feature-content .feature-left img:last-child {
  position: absolute;
}
.feature-content .feature-content .feature-left div {
  content: "";
  width: 220px;
  height: 380px;
  background-color: #e5f5d0;
  position: absolute;
  bottom: 0;
}
.feature-text .feature-text-img {
  position: absolute;
  transform: translateY(-50px);
}

.feature-right {
  width: 585px;
  height: 183px;
  background-color: var(--rectengle-color-right);
  position: relative;
  margin-right: 70px;
  margin-top: 404px;
  overflow: visible;
  clip-path: inset(-404px 0px 0px -70px);
}

.feature-right .rectangle {
  width: 508px;
  height: 587px;
  background-image: url(../images/hero-item/bannerRight.png);
  position: absolute;
  bottom: 0;
  left: -60px;
  background-repeat: no-repeat;
  /* animation: hide 3s infinite; */
  /* animation: uptwo 2s infinite alternate; */
  animation: uptwo 2s infinite alternate;
}
.feature-right::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 480px;
  background-color: var(--rectengle-color-right);
  position: absolute;
  top: -320px;
  right: 80px;
}
/* 
.feature-right::after {
  content: "";
  width: 508px;
  height: 587px;
  background-image: url(../images/hero-item/right-hand-final.png);
  position: absolute;
  bottom: 0;
  right: 147px;
  background-repeat: no-repeat;
} 
  */

.background {
  position: relative;
}
.background {
  width: 1920px;
  margin: 0 auto;
}
.background svg {
  position: absolute;
  top: -995px;
  left: -55px;
  z-index: 1;
}

.feature-text-img-bottom img {
  position: absolute;
  left: 1000px;
  bottom: 140px;
}

@keyframes up {
  from {
    transform: translate(-100%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0); /* স্বাভাবিক অবস্থানে */
    opacity: 1;
  }
}

@keyframes uptwo {
  from {
    transform: translate(100%, 100%); /* একদম বাম নিচে শুরু */
    opacity: 0;
  }
  to {
    transform: translate(0, 0); /* স্বাভাবিক অবস্থানে */
    opacity: 1;
  }
}

/* @keyframes hide {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.1;
  }
} */

/*animation: up-down 4s infinite;*/

/* @keyframes up {
  0% {
    transform: translate();
  }
  25% {
    transform: translateY(500px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(1000px);
  }
} */
/* -------------------SVG Background animation now use javascript------------------------*/

/* svg {
  position: absolute;
  top: -20px;
  width: 100%;
  height: auto;
  z-index: -5;
}
.animated-path {
  animation: changeColor 5s infinite ease-in-out;
}

@keyframes changeColor {
  0% {
    stroke: #6a55ea;
    opacity: 0.5;
  }
  10% {
    stroke: #55eaa4;
    opacity: 0.5;
  }
  20% {
    stroke: #eaa455;
    opacity: 0.5;
  }
  30% {
    stroke: #ea55c7;
    opacity: 0.5;
  }
  40% {
    stroke: #c00808;
    opacity: 0.5;
  }
  50% {
    stroke: #872341;
    opacity: 0.5;
  }
  60% {
    stroke: #16404d;
    opacity: 0.5;
  }
  70% {
    stroke: #8e1616;
    opacity: 0.5;
  }
  80% {
    stroke: #441752;
    opacity: 0.5;
  }
  90% {
    stroke: #a888b5;
    opacity: 0.5;
  }
  100% {
    stroke: #efb6c8;
    opacity: 0.5;
  }
} */

/*---------------------SVG Background-------------------------*/
/*======================================
             HERO-SECTION--END
=======================================*/

/*======================================
             SERVICES-SECTION-START
=======================================*/
.services {
  background-color: #fff;
}
.services .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services .services-content {
  margin-top: 60px;
  column-gap: 30px;
}
.services .services-content .services-card {
  padding: 30px 20px;
}
.services .services-content .services-card:hover {
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* ----======================================
             SERVICES-SECTION--END
=======================================--> */

/*======================================
             INNOVATE & Resources-SECTION-START resources
=======================================*/
.innovate .container {
  margin-top: 120px;
  margin-bottom: 120px;
  column-gap: 60px;
}
.innovate .innovate-left-side {
  width: 540px;
  height: 644px;
  border-radius: 50px;
  background-image: url(../images/innovate/earth.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* overflow: hidden; */
}
.resources .innovate-left-side {
  background-image: url(../images/innovate/inovation-2.jpg);
}
.innovate .innovate-left-side img {
  width: 304px;
  height: 620px;
  transform: translateY(-48px);
  /* animation: up-down 4s infinite; */
  border-radius: 10px;
}

.resources .innovate-left-side img {
  transform: translateY(-48px);
  background: rgba(106, 85, 234, 0.5);
  /* animation: up-down 4s infinite; */
}

@keyframes up-down {
  0% {
    transform: translateY(1000px); /* শুরু */
  }
  25% {
    transform: translateY(500px); /* উপরে উঠার অর্ধেক */
  }
  50% {
    transform: translateY(0px); /* উপরে সম্পূর্ণ উঠা */
  }
  75% {
    transform: translateY(500px); /* নিচে নামার অর্ধেক */
  }
  100% {
    transform: translateY(1000px); /* নিচে সম্পূর্ণ নামা */
  }
}

.innovate .common-title {
  width: 672px;
}
.innovate .common-title h2 {
  margin-top: 32px;
  text-align: left;
  margin-bottom: 20px;
}
.innovate .common-title p {
  margin-bottom: 36px;
}

.innovate-content {
  column-gap: 49px;
}
/*======================================
             INNOVATE-SECTION--END
=======================================*/
/*======================================
             SHOWCASE-SECTION-START
=======================================*/
.showcase {
  background-color: rgba(248, 253, 254, 0.5);
  padding-top: 120px;
  padding-bottom: 120px;
}
.showcase .container .common-title h2 {
  margin-bottom: 24px;
}

.showcase .container .common-title p {
  margin-bottom: 60px;
}

.showcase .container .display-item {
  column-gap: 30px;
}
.showcase .container .display-item .item {
  width: 330px;
  height: 715px;
  border-radius: 20px;
  background-color: #c4c4c4;
  /* box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.07); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase .container .display-item .item:first-child {
  background-image: url(../images/showcase/dall-1.png);
}

.showcase .container .display-item .item:nth-child(2) {
  background-image: url(../images/showcase/dall-2.png);
}

.showcase .container .display-item .item:nth-child(3) {
  background-image: url(../images/showcase/dall-3.png);
}
.showcase .container .display-item .item:last-child {
  background-image: url(../images/showcase/dall-4.png);
}

.showcase .container:last-child {
  margin-top: 60px;
  justify-content: center;
}
/*======================================
  SHOWCASE-SECTION--END
  =======================================*/

/*======================================
            companies-SECTION-START
=======================================*/

.companies .container .common-title {
  justify-content: space-between;
  align-items: center;
}
.brand-logos {
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 140px;
}
/*======================================
            companies-SECTION--END
  =======================================*/
/*======================================
            TRAIL-SECTION--END
  =======================================*/
.trail {
  background: var(--primary-color);
}

.trail .container {
  padding-top: 120px;
  padding-bottom: 320px;
}
.trail .container p {
  margin-bottom: 20px;
}
/*------------------------------------------Toggle----------------*/
.toggle-container {
  position: relative;
  width: 96px;
  height: 28px;
  margin: auto;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  width: 100%;
  height: 100%;
  background: #dcd6f7;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-label::after {
  content: "";
  width: 48px;
  height: 48px;
  background: #6a5acd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: left 0.3s ease, background 0.3s ease;
}

.toggle-input:checked + .toggle-label {
  background: #e5e0fc;
}

.toggle-input:checked + .toggle-label::after {
  left: 50px;
  background: #5636c6;
}
/*------------------------------------------Toggle----------------*/
.trail-content .pricing-table {
  justify-content: space-between;
}
/*======================================
            TRAIL-SECTION--END
  =======================================*/

/*======================================
            Trail-Content-SECTION--END
  =======================================*/
.trail-content {
}
.trail-content .container .pricing-table .pricing-card {
  border-radius: 30px;
  padding: 28px 28px 48px 28px;
}

.trail-content .container .pricing-table {
  position: relative;
  margin-top: -18%;
  margin-bottom: 100px;
  /* transform: translateY(-50%); */
}

.trail-content .container .pricing-table .pricing-card h3 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 19px;
  margin-left: -28px;
  margin-right: -28px;
  border-bottom: 1px solid rgba(27, 17, 87, 0.1);
  position: relative;
}
.trail-content .container .pricing-table .pricing-card h3::before {
  content: "";

  width: 51px;
  height: 5px;
  border-radius: 30px;
  background-color: #6a55ea;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pricing-table .pricing-card:hover {
  /* transform: scale(1.05); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.trail-content .container .pricing-table .pricing-card .header-element {
  padding-top: 28px;
  padding-bottom: 48px;
  justify-content: space-between;
}

.trail-content .container .pricing-table .pricing-card ul li {
  margin-bottom: 16px;
  width: 394px;
}
.trail-content .container .pricing-table .pricing-card ul li span {
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
}
.trail-content .container .pricing-table .pricing-card ul span {
  margin-right: 10px;
}
.trail-content .container .pricing-table .pricing-card ul li a {
  font-family: var(--nunito-font);
}
/*======================================
            Trail-Content-SECTION--END
  =======================================*/
/*======================================
            RECENT-SECTION--END
  =======================================*/
.recent .container {
  justify-content: space-between;
}
.recent .container .common-title {
  width: 912px;
}

.followes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.recent .container .followes div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--solial-media);
  align-items: center;
  justify-content: center;
}

.recent .container .followes div:hover {
  background-color: var(--button-color);
}
.recent .container .followes div i {
  font-size: 28px;
}
.recent .container .followes div:hover i {
  color: white;
}
/*======================================
            RECENT-SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
/*======================================
            -SECTION--END
  =======================================*/
