* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f8fdff;
  --secondary-color: #f3f7fd;
  --text-color: #29313d;
  --button-color: #8454f5;
  --open-sans-font: "Open Sans", sans-serif;
  --nunito-font: "Nunito", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

/*======================================
          Common CSS ‍Start
=======================================*/
.container {
  width: 1410px;
  /* max-width: 1410px; */
  /* width: 72%; */
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

ul li {
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-family: "Open Sans", serif;
  transition: 0.4s;
  white-space: nowrap;
}
a,
.btn,
p {
  font-size: 18px;
}
.btn {
  display: inline-block;
  background: var(--button-color);
  color: #fff;
  font-family: var(--nunito-font);
  padding: 14px 28px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 18px;
  border: 1px solid transparent;
  transition: background 0.4s, border 0.4s;
  white-space: nowrap;
}
.btn:hover {
  background: transparent;
  color: var(--button-color);
  border-color: var(--button-color);
}

p {
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #29313d;
  padding-bottom: 24px;
  line-height: 200%;
}
/*======================================
          Common CSS End
=======================================*/

/*======================================
          nav-bar CSS ‍Start
=======================================*/
nav {
  background-color: var(--primary-color);
  padding: 30px 0;
}

nav .navbar-content {
  width: 100%;
}

.navbar-content .navbar-brand {
  width: 314px;
}

.navbar-content .navbar-menu {
  width: 722px;
}

.navbar-content .navbar-menu li:hover a {
  color: var(--button-color);
}
.navbar-button {
  width: 372px;
  text-align: right;
}

.navbar-menu li {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 300%;
  left: 0;
  background-color: var(--primary-color);
  padding: 10px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
}
.sub-menu li {
  padding: 8px 20px;
  position: relative;
}

.navbar-menu li:hover > .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.navbar-menu li:hover > .sub-menu a {
  color: var(--text-color);
}
.sub-menu .sub-menu {
  position: absolute;
  top: 0;
  left: 300%; /* Place it on the right */
  opacity: 0;
  visibility: hidden;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sub-menu li:hover > .sub-menu {
  top: -5%;
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/*======================================
          nav-bar CSS End
=======================================*/
/*======================================
             HERO-SECTION--END
=======================================*/
.feature-section .container {
  width: 1840px;
  /* max-width: 1840px; */
  /* width: 95%; */
  transform: translateX(80px);
  padding-top: 101px;
  padding-bottom: 120px;
}

.feature-section {
  background-color: var(--primary-color);
}
.feature-left {
  width: 513px;
}
.feature-left img {
  width: 100%;
}
.feature-text {
  width: 672px;
}
.feature-right {
  width: 655px;
}

.feature-right img {
  width: 508px;
}
.feature-text h1 {
  max-width: 90%;
  font-size: 64px;
  /* font-size: clamp(24px, 5vw, 64px); */
  font-weight: 900;
  color: #1d354f;
  font-family: "Open Sans", serif;
}

.feature-content .feature-content {
  width: 78%;
}
.background {
  position: relative;
}
.background svg {
  position: absolute;
  top: -1000px;
  /* z-index: -1; */
}
/*======================================
             HERO-SECTION-START
=======================================*/

/*
    <!----======================================
             HERO-SECTION--END
=======================================-->

    <!----======================================
             -SECTION-START
=======================================-->

    <!----======================================
             -SECTION--END
=======================================-->
    <!----======================================
             -SECTION-START
=======================================-->

    <!----======================================
             -SECTION--END
=======================================-->
    <!----======================================
             -SECTION-START
=======================================-->

    <!----======================================
             -SECTION--END
=======================================-->*/
